<accordion *ngIf="paramsHasGroups" class="super">
    <accordion-group *ngFor="let group in groupedParamsSet" heading="{{groupedParamsSet[group].title}}" style="color: #f00" (isOpenChange)="logToggle($event, group)">
        <div *ngFor="let key in groupedParamsSet[group].values">
            <app-page-editor-tree-item [key]="key" [params]="params" [values]="values" [parent]="this" [uniqKey]="uniqKey"></app-page-editor-tree-item>
        </div>
    </accordion-group>
    <accordion-group *ngIf="(notGroupdParams | json) !== '{}'" heading="Содержимое блока" (isOpenChange)="logToggle($event, 'nogroup')">
        <div *ngFor="let key in notGroupdParams">
            <app-page-editor-tree-item [key]="key" [params]="params" [values]="values" [parent]="this" [uniqKey]="uniqKey"></app-page-editor-tree-item>
        </div>
    </accordion-group>
</accordion>
<accordion  *ngIf="!paramsHasGroups">
    <accordion-group heading="Содержимое блока" [isOpen]="true" (isOpenChange)="logToggle($event, 'nogroup')">
        <div *ngFor="let key in notGroupdParams">
            <app-page-editor-tree-item [key]="key" [params]="params" [values]="values" [parent]="this" [uniqKey]="uniqKey"></app-page-editor-tree-item>
        </div>
    </accordion-group>
</accordion>
<ng-template #reorderDialog>
    <div class="modal-header">
        <h4 class="modal-title">Поменять местами</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <i class="fa fa-close"></i>
        </button>
    </div>
    <div class="modal-body">
        <bs-sortable *ngIf="selectedInstanceOrder"
                     [(ngModel)]="selectedInstanceOrder"
                     itemClass="sortable-item"
                     itemActiveClass="sortable-item-active"
                     placeholderItem="Drag here"
                     placeholderClass="placeholderStyle"
                     wrapperClass="sortable-wrapper"
                     fieldName="name"
        ></bs-sortable>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="reorderApply()">Да</button>
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Отмена</button>
    </div>
</ng-template>