h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body,
input[text],
button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
nav a {
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
}
nav a:visited,
a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
.card-header {
  padding: .15rem .15rem!important;
}
.btn-link {
  text-decoration: none!important;
  color: #444!important;
}
accordion-group .panel.card {
  margin-bottom: 10px;
}
