@import '../mixins';

section[class^=main] {
  min-height: 791px;

  .content-wrapper {

    &:before {
      background-image: url('/img/top-bg.jpg');
    }

  }

  &:after {
    background-color: #4f3a28;
  }

  .greeting {
    font-family: "Lora", serif;
    margin-top: 39px;
    padding-left: 18px;
    line-height: 21px;
    font-size: 18px;
    letter-spacing: 1px;
    b {
      font-weight: 700;
    }
  }

  .right-content-block-element {
    margin-top: 61px;
    width: 370px;
  }

  .contacts-element {
    margin-left: 24px;
    padding-top: 30px;
  }
}