section.booking {
	& > header {
		padding-top: 50px;
		background-color: #3b2213;
		overflow: hidden;
	}

	& > section.content {
		background-color: #eae4cf;
		overflow: hidden;

		.characteristics{
			margin-top: 20px;
			color: #000;
			background-color: #fff;
			padding: 28px 23px;
			line-height: 50px;
		}

		.price-from {
			float: right;
			line-height: 50px;
		}
	}
}