@font-face {
	font-family: 'Acrom-Light';
	src: url('/web/fonts/Acrom-Light/Acrom-Light.eot?#iefix') format('embedded-opentype'),  url('/web/fonts/Acrom-Light/Acrom-Light.otf')  format('opentype'),
	url('/web/fonts/Acrom-Light/Acrom-Light.woff') format('woff'), url('/web/fonts/Acrom-Light/Acrom-Light.ttf')  format('truetype'), url('/web/fonts/Acrom-Light/Acrom-Light.svg#Acrom-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}