<div class="settings-container" *ngIf="groupSettings">
    <accordion [closeOthers]="true" class="settings-sub-group">
        <accordion-group heading="{{subGroupTitle}}" *ngFor="let subGroupTitle in groupSettings">
            <section class="settings-list">
                <div *ngFor="let item of groupSettings[subGroupTitle]">
                    <app-page-editor-field-extended *ngIf="isExtended(item)" [title]="item.header" [params]="item" [valueSet]="item" [valueKey]="'value'"></app-page-editor-field-extended>
                    <app-page-editor-field *ngIf="!isExtended(item)" [title]="item.header" [params]="item" [valueSet]="item" [valueKey]="'value'"></app-page-editor-field>
                </div>
            </section>
            <button (click)="save()"class="ripple module-control-button-element default">Сохранить</button>
        </accordion-group>
    </accordion>
</div>