h4 {
  display: inline-block;
}
.modal-dialog {
  overflow-y: initial !important;
}
.modal-body {
  height: 70vh;
  overflow-y: auto;
}
.modal-body label {
  margin-right: 10px;
}
.modal-header > div:first-child {
  flex: 1 1;
}
.modal-header > div:first-child * {
  vertical-align: bottom;
}
.modal-header > div:first-child h4 {
  margin-right: 10px;
}
.modal-header > div:first-child :nth-child(2) {
  height: 68px;
  display: inline-block;
}
.modal-footer {
  text-align: right;
}
.toolbar {
  display: inline-block;
  width: 300px;
}
