<div class="wrapper">
  <div class="images">
    <div class="content module-editor module-editor-full" *ngIf="images !== null">
      <div class="image-card">
        <div class="new-image">
          <i class="fa fa-plus"></i>

          <div accept="image/*" ngxFileDropzone (fileDrop)="dropped($event)">
            Drop a file in this zone.<br>
            <button accept="image/*" ngxFilePicker (filePick)="dropped($event)">Browse</button>
          </div>

        </div>
      </div>
      <div *ngFor="let image of images" class="image-card">
        <img src="//hotel/{{image.filename}}" style="width: 300px;">
        <div class="short-description">
          {{image.description | wordCountLimit: 3 }}
        </div>
      </div>
    </div>
  </div>
</div>