<div #wrapper (window:resize)="onResize($event)" [class]="getWrapperClass()">
  <div class="images">
    <!--infiniteScroll-->
    <!--[infiniteScrollDistance]="2"-->
    <!--[infiniteScrollThrottle]="50"-->
    <!--[infiniteScrollContainer]="'body'"-->
    <!--(scrolled)="loadMore()"-->
    <div class="content module-editor module-editor-full" [class.show-descriptions]="showDescriptions" *ngIf="images !== null">
      <div class="image-card">
          <div class="new-image image-wrapper" accept="image/*" ngxFileDropzone (fileDrop)="dropped($event)" ngxFilePicker (filePick)="dropped($event)">
            Добавьте фото<br>
            <i class="plus"></i><br>
          </div>
      </div>
      <div *ngFor="let image of images; let i = index;"
           class="image-card"
           (click)="this.selectionMode ? markImage(i) : openEditor(image, image.getOrientation)"
           [class.ticked]="multiple ? preSelectedImagesMap[image.id] : preSelectedImageMap === image.id"
           [hidden]="i >= limit"
      >
        <div class='image-card-wrapper' *ngIf="i < limit;">
          <img #imagesList src="/{{image.filename}}" (load)="initImageOrientation(i)">
          <div class="short-description">
            {{image.description | wordCountLimit: 15 }}
          </div>
        </div>
      </div>
      <div class="image-card" (click)="loadMore()" *ngIf="limit < images.length">
        <div class="load-more image-wrapper">
          Показать<br>ещё
        </div>
      </div>
    </div>
  </div>
</div>
<div #bottom></div>
<ng-template #confirmDelete class="alert-box">
  <div class="modal-header">
    <h4 class="modal-title">Подтвердите действиe</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Удалить фото?
  </div>
  <div class="modal-footer">
    <button type="button" class="ripple module-control-button-element delete" (click)="onConfirmDelete()">Да</button>
    <button type="button" class="ripple module-control-button-element cancel" (click)="onCancelDelete()">Нет</button>
  </div>
</ng-template>

<ng-template #imageEditor>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Настройки фото</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body image-editor-element" [class.vertical]="editingImage.getOrientation" *ngIf="editingImage !== null">
    <!--<tabset>-->
      <!--<tab heading="Общие настройки" id="redactor-tab">-->
        <section class="redactor" [class.vertical]="editingImage.getOrientation">

          <div class="left-part">
            <div [ngSwitch]="imageDataForUpdateEditing === null">
              <img src="/{{editingImage.filename}}" class="image-for-crop" *ngSwitchCase="true">
              <img src="{{imageDataForUpdateEditing.content}}" class="image-for-crop" *ngSwitchCase="false">
            </div>
          </div>

          <div class="right-part">
            <div class="update-image" accept="image/*" ngxFileDropzone (fileDrop)="droppedForUpdate($event)" ngxFilePicker (filePick)="droppedForUpdate($event)">
                <div class="wrapper">
                  Заменить фото<br>
                  <i class="plus"></i>
                </div>
            </div>

            <textarea [(ngModel)]="editingImage.description"></textarea>

            <div class="tags-list">
              <div class="tag" *ngFor="let tag of editingImage.getTags()">
                {{ tag }}
                <i class="fa fa-close close" (click)="removeTag(tag)"></i>
              </div>
              <div *ngIf="tagAddingMode === false" class="tag plus" (click)="setTagEditingMode(true)">+</div>
              <input *ngIf="tagAddingMode === true"
                     #newTag class="tag input"
                     [focus]="focusEventEmitter"
                     (keyup.enter)="addTag(newTag.value)"
                     (keyup.space)="addTag(newTag.value, true);newTag.value = '';"
                     (blur)="setTagEditingMode(false)">
            </div>

            <div class="type" *ngIf="imageTypes !== null">
              Тип фото: <select [(ngModel)]="editingImage.image_type_id" class="form-control form-control-inline">
                <option value="null">Не выбран</option>
                <option *ngFor="let type of imageTypes" value="{{type.id}}">
                  {{ type.name }}
                </option>
              </select>
            </div>

            <section>
              <button class="ripple module-control-button-element cancel" (click)="modalRef.hide()">отмена</button>
              <button class="ripple module-control-button-element default" (click)="saveEditingImage()">сохранить</button>
              <button class="ripple module-control-button-element delete" (click)="deleteEditingImageWithConfirm()">удалить</button>
            </section>
          </div>

          <div class="cropper-zone">

          </div>
        </section>
      <!--</tab>-->
      <!--<tab heading="Превью" id="preview-tab">-->
        <!--<section class="preview-editor-element">-->

          <!--<nav class="preview-selector" *ngIf="editingImage.image_type_id !== null">-->
            <!--<a (click)="selectPreview(preview)" *ngFor="let preview of getEditingImagePreviews().previewSettings" [class.selected]="currentPreview != null && preview.id === currentPreview.id">-->
             <!--Превью {{preview.width}} x {{preview.height}}-->
            <!--</a>-->
          <!--</nav>-->
          <!--<div innerHTML={{currentPreview.description}}></div>-->

          <!--<div *ngIf="currentPreview !== null">-->
            <!--<app-image-cropper [hidden]="preview.id !== currentPreview.id" *ngFor="let preview of getEditingImagePreviews().previewSettings" [aspectRatio]="preview.width / preview.height" [image]="editingImage"></app-image-cropper>-->
          <!--</div>-->

        <!--</section>-->
      <!--</tab>-->
    <!--</tabset>-->
  </div>
</ng-template>