.bordered-section {
  border: 1px solid #444;
  margin: 5px;
}
.shadowed {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.put-right {
  position: absolute;
  right: 11px;
  left: 350px;
  top: 17px;
  max-height: 100%;
  overflow-y: auto;
}
:host {
  height: 100%;
  overflow: hidden;
}
:host .module-editor {
  background: none;
  padding: 8px;
}
:host .module-editor:not(.show-descriptions) .short-description {
  display: none;
}
:host .module-editor.show-descriptions .image-card {
  padding-top: 14.5%;
}
.tick {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  background-color: #fff;
}
.tick.ticked:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 2px;
  left: 2px;
  border-radius: 5px;
  background-color: #000;
}
.wrapper {
  height: 100%;
}
.wrapper.one .image-card {
  width: 99%;
  padding-top: 99%;
}
.wrapper.two .image-card {
  width: 49%;
  padding-top: 49%;
}
.wrapper.four .image-card {
  width: 24%;
  padding-top: 24%;
}
.image-card {
  display: inline-block;
  width: 11.5%;
  padding-top: 11.5%;
  position: relative;
  margin: 0.5%;
}
.image-card:hover .short-description {
  height: initial;
  white-space: initial;
  line-height: 22px;
  padding: 13px;
  padding-left: 12px;
}
.image-card:before {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 0;
  left: 5px;
  content: "";
  border-radius: 6px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.4);
}
.image-card .plus {
  width: 31px;
  height: 31px;
  position: relative;
  background: url(/assets/icons/plus.svg) no-repeat;
  font-size: 0;
  margin-top: 11px;
  display: block;
}
.image-card.ticked .image-card-wrapper:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 4px solid #4a90e2;
  display: block;
}
.image-card .image-card-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
}
.image-card:before {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 0;
  left: 5px;
  content: "";
  border-radius: 6px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.4);
}
.image-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.image-card img.landscape {
  height: 100%!important;
}
.image-card img.portrait {
  width: 100%!important;
}
.image-card .new-image,
.image-card .load-more {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image-card .short-description {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0 -4px 7px rgba(0, 0, 0, 0.3);
}
[ngxFileDropzone] {
  text-align: center;
}
.image-for-crop {
  width: 100%;
}
.tags-list .tag {
  border-radius: 18px;
  background-color: #f8efc0;
  color: #000;
  padding: 5px;
  margin: 0 4px;
  padding-left: 10px;
  padding-right: 20px;
  display: inline-block;
  position: relative;
  margin-bottom: 8px;
}
.tags-list .tag .close {
  top: 11px;
  right: 6px;
  font-size: 0.7em;
  position: absolute;
}
.tags-list .tag.plus {
  padding: 5px 12.34px!important;
  cursor: pointer;
}
.tags-list .tag.input {
  border: none;
  padding-left: 10px;
}
.tags-list .tag.input:focus {
  outline: none;
}
.image-editor-element .update-image {
  position: relative;
  text-align: center;
  margin: 17px 0;
}
.image-editor-element .update-image .wrapper {
  padding: 10px;
}
.image-editor-element .update-image .plus {
  width: 31px;
  height: 31px;
  position: relative;
  background: url(/assets/icons/plus.svg) no-repeat;
  font-size: 0;
  margin-top: 11px;
  display: inline-block;
}
.image-editor-element .update-image:before {
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 6px;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.2);
}
.image-editor-element textarea {
  width: 100%;
  margin-bottom: 9px;
}
.image-editor-element .tags-list {
  margin-bottom: 16px;
}
.image-editor-element .tags-list .tag:first-child {
  margin-left: 0;
}
.image-editor-element .redactor {
  margin-top: 0;
}
.image-editor-element .redactor.vertical .left-part {
  vertical-align: top;
  max-width: 200px;
  display: inline-block;
  margin-right: 16px;
  float: left;
}
.image-editor-element .redactor.vertical .right-part {
  vertical-align: top;
  overflow: hidden;
  padding: 0 9px;
}
.image-editor-element .redactor.vertical .right-part .update-image {
  margin-top: 0!important;
}
.image-editor-element .redactor:not(.vertical) .right-part {
  margin-top: 17px;
}
section {
  margin-top: 16px;
}
.preview-selector a {
  border-radius: 20px;
  margin: 10px 5px 10px 5px;
  background: none;
  padding: 3px 10px;
  cursor: pointer;
  display: inline-block;
}
.preview-selector a:first-child {
  margin-left: 0;
}
.preview-selector a.selected {
  background-color: #f8efc0;
}
