<div class="field">
  <div class="title">
    <b *ngIf="params.required === 1">
      <label for="{{uniqId}}">{{title}}</label>
    </b>
    <label *ngIf="params.required !== 1" for="{{uniqId}}">{{title}}</label>
  </div>
  <div [ngSwitch]="params.type" class="content" [class.inline]="params.type === 'checkbox' || params.type === 'color'">
    <div *ngSwitchCase="'string'">
      <input id={{uniqId}} type="text" [(ngModel)]="valueSet[valueKey]">
    </div>
    <div *ngSwitchCase="'select'">
      <select id={{uniqId}} [(ngModel)]="valueSet[valueKey]">
        <option *ngFor="let option in params.options" [value]="option">{{params.options[option]}}</option>
      </select>
    </div>
    <div *ngSwitchCase="'checkbox'">
      <mat-checkbox id={{uniqId}} [(ngModel)]="valueSet[valueKey]" [color]="'primary'"></mat-checkbox>
    </div>
    <div *ngSwitchCase="'textarea'">
      <textarea id={{uniqId}} ngxTrumbowygEditor name="editorDirective" [(ngModel)]="valueSet[valueKey]"></textarea>
    </div>
    <div *ngSwitchCase="'color'">
      <input class="color" id={{uniqId}} type="text" (colorPickerChange)="setVal($event)" [colorPicker]="valueSet[valueKey]" [style.background]="valueSet[valueKey]" [cpOutputFormat]="hex"/>
    </div>
    <div *ngSwitchCase="'image'">
      <img *ngIf="imageSrc && imageSrc.length" width="200px" src="/{{imageSrc}}" (click)="openChooser()">
      <button *ngIf="!(imageSrc && imageSrc.length)" (click)="openChooser()">Выбор</button>

      <app-image-chooser-popup #imageChooser (selectedImageId)="selectImage($event)"></app-image-chooser-popup>
    </div>
  </div>
</div>
