.object-editor {
  padding: 0 10px;
  position: relative;
}
.object-editor:not(.active) .close {
  display: none;
}
.object-editor .field * {
  vertical-align: top;
  margin-bottom: 20px;
}
.object-editor .field .label {
  width: 200px;
  text-align: left;
  margin-right: 20px;
  display: inline-block;
}
.object-editor .close,
.object-editor .cancel {
  position: absolute;
  right: 10px;
  top: 10px;
}
.image-picker {
  position: relative;
}
.image-picker .img-crop img {
  width: 400px;
}
.image-picker [ngxfiledropzone] {
  border: 5px dashed #eee;
  padding: 50px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}
