<div class="object-editor" [ngClass]="{active: trainer !== null}">
  <div class="close" (click)="close()">
    <i class="fa fa-window-close" aria-hidden="true"></i>
  </div>
  <div *ngIf="trainer !== null">
    <div class="field name">
      <span class="label">Имя тренера</span>
      <input type="text" [(ngModel)]="trainer.name">
    </div>

    <div class="field vk">
      <span class="label"><mat-checkbox [color]="'primary'" [checked]="trainer.has_vk" (change)="trainer.has_vk = 1 - trainer.has_vk"></mat-checkbox> <a target="_blank" href="{{trainer.vk_link}}">VK</a></span>
      <input type="text" [(ngModel)]="trainer.vk_link" [disabled]="!trainer.has_vk">
    </div>
    <div class="field fb">
      <span class="label"><mat-checkbox [color]="'primary'" [checked]="trainer.has_fb" (change)="trainer.has_fb = 1 - trainer.has_fb"></mat-checkbox> <a target="_blank" href="{{trainer.fb_link}}">FB</a></span>
      <input type="text" [(ngModel)]="trainer.fb_link" [disabled]="!trainer.has_fb">
    </div>
    <div class="field inst">
      <span class="label"><mat-checkbox [color]="'primary'" [checked]="trainer.has_inst" (change)="trainer.has_inst = 1 - trainer.has_inst"></mat-checkbox> <a target="_blank" href="{{trainer.inst_link}}">Insta</a></span>
      <input type="text" [(ngModel)]="trainer.inst_link" [disabled]="!trainer.has_inst">
    </div>


    <div class="field">
      <span class="label">Изображение</span>
      <img width="200px" *ngIf="trainer.img_src" (click)="chooser.showPopup()" [src]="chooser.getCanonicalUrl(trainer.img_src)">
      <button *ngIf="!trainer.img_src" (click)="chooser.showPopup()">Browse</button>
      <app-image-chooser-popup #chooser (selectedImageId)="selectImage($event)" [multiple]="false" [fixedImageTypeId]="1"></app-image-chooser-popup>
    </div>

    <div class="field">
      <span class="label">Должность</span>
      <input type="text" [(ngModel)]="trainer.position">
    </div>

    <div class="field">
      <span class="label">В 2 строки</span>
      <span [ngSwitch]="language">
        <mat-checkbox [color]="'primary'" *ngSwitchCase="1" [(ngModel)]="trainer.two_lines_position"></mat-checkbox>
        <mat-checkbox [color]="'primary'" *ngSwitchCase="2" [(ngModel)]="trainer.two_lines_position_en"></mat-checkbox>
      </span>
    </div>

    <div class="field">
      <span class="label">Описание</span>
      <textarea ngxTrumbowygEditor [(ngModel)]="trainer.description"></textarea>
    </div>

    <div class="field">
      <span class="label">Путь URL</span>
      <input type="text" [(ngModel)]="trainer.alias">
    </div>

    <div class="field published">
      <span class="label">Опубликован</span>
      <mat-checkbox [color]="'primary'" [(ngModel)]="trainer.published"></mat-checkbox>
    </div>

    <div class="buttons">
      <button class="ripple module-control-button-element default" (click)="save()">Сохранить</button>
      <button class="ripple module-control-button-element delete" (click)="openModal(confirmDelete)">Удалить</button>
    </div>
  </div>
</div>
<ng-template #confirmDelete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Вы точно хотите удалить этого тренера?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="buttons">
      <button class="ripple module-control-button-element cancel" (click)="modalRef.hide()">отмена</button>
      <button class="ripple module-control-button-element delete" (click)="delete()">да, удалить</button>
    </div>
  </div>
</ng-template>