@import '../sizes';
@import '../mixins';

.card-element {

  font-family: "Open Sans", sans-serif;
  height: 100%;

  .card-element > header {
    margin-top: 20px;
  }

  header {
    background-color: #eae4cf;
    padding: 19px 20px;
    font-size: 18px;
    color: black;
    font-weight: 400;

    &.pale {
      background-color: #f9f1dc;
    }
  }

  background-color: #fff;

  p {
    margin-top: 10px;
    margin-left: 3px;
    line-height: 17px;
    color: black;
  }

  section.content {
    padding: 0 20px;

    p {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
    }

    & > p:first-child {
      margin-top: 13px;
    }

    & > p:last-child {
      margin-bottom: 0;
    }

    em {
      font-family: "Lora", sans-serif;
      font-size: 18px;
      font-style: normal;
    }
  }

  .content > ul:not(.item-list) {
    list-style-type: disc;
    padding-left: 15px;

    li {
      list-style-type: disc;
      font-size: 9px;
      color: black;
      line-height: 25px;

      span {
        font-size: 14px;
        line-height: 18px;
        display: inline-block;
        vertical-align: top;
        margin-top: 4px;
        margin-left: 10px;
      }
    }
  }


  .item-list.three-col {
    white-space: nowrap;

    .item {
      background-color: #f9f1dc;
      display: inline-block;
      width: 33.33%;
      border: 2px solid #fff;

      @media screen and (max-width: 400px) {
        display: block;
        width: 100%;
        p {
          font-size: 12px!important;
        }
      }

      &:last-child {
        border-right: 0;
      }

      p {
        margin-top: 0;
        text-align: center;
        font-size: 12px;

        * {
          font-size: 12px;
        }

        line-height: 14px;

        @media screen and (max-width: 600px) {
          font-size: 10px;
          * {
            font-size: 10px;
          }
        }
      }

      .item-icon {
        margin-top: 3px;
        background-repeat: no-repeat;
        display: inline-block;
        width: 100%;
        height: 50px;
        background-position: center;
      }
    }

    & + p {
      margin-top: 13px;
    }
  }

  padding-bottom: 25px;

  @media screen and (max-width: @menu-max-width-1) {
    max-width: none!important;
  }
}


@media screen and (min-width: @desktop-min-width-1) and (max-width: @desktop-width-1) {
  .rooms-list-element > .row {
    margin-bottom: -30px!important;
  }

  .rooms-row {
    &.row {
      display: flex;

      .rooms-first-col {
        position: relative;

        & > div,
        & > div > .row {
          height: 100%;
        }

        [class^=col] {
          height: 50%;
        }
      }
    }
  }
}

.rooms-first-col {
  position: relative;

  @media screen and (min-width: @desktop-width) {
    left: 20px;
    padding: 0px 18px;
  }

  .card-element {
    padding-bottom: 14px;

    @media screen and (min-width: @menu-max-width) {
      margin-left: 2px;
      margin-right: 3px;
    }

    .content {
      padding: 0px 26px;

      @media screen and (min-width: @desktop-width) {
        margin-bottom: 55px;
      }

      ul {
        padding-left: 18px;
        margin-top: 17px;

        li {
          line-height: 26px;

          span {
            line-height: 17.5px;
            margin-left: 22px;
          }
        }
      }
    }
  }
}