@import "../sizes";

.reservation-form-element {
  //overflow: hidden;

  @media (min-width: @menu-max-width) {
    margin: 30px 9px 0 11px;
    &.large {
      margin: 30px 0 0 0;
    }
  }

  @media screen and (min-width: @tablet-max-width) and (max-width: @desktop-width-1) {
    &.large {
     margin-bottom: -25px;
    }
  }



  @media screen and (min-width: 1098px) and (max-width: @desktop-min-width-1) {
    &.large {
      margin-bottom: -30px!important;
    }
  }

  @media screen and (min-width: @desktop-min-width) and (max-width: 1433px) {
    &.large {
      margin-bottom: 2px!important;
    }
  }

  &.large {
    margin: 15px 0 15px 0;
  }

  &:not(.nobg) {
    background-color: #fff;
  }

  &.nobg{
    input[type=text] {
      background-color: #fff;
    }
  }

  header {
    background-color: #eae4cf;
    height: 55px;
    text-align: center;
    color: #22130a;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    line-height: 55px;
  }

  input[type=text] {
    display: inline-block;
    border: 1px solid #cbcbcb;
    margin-left: 10px;
    padding: 10px;
  }

  input[type=text]:first-child {
    margin-left: 0;
  }

  .content {
    &:not([class*=col]) {
      padding-top: 24px;
      padding-left: 7px;
      padding-right: 5px;
      padding-bottom: 20px;
      margin: 0 10px;
    }

    .dates {
      display: block;
      datepicker {
        width: 100%;
        margin-bottom: 6px;
        float: none;
        display: block;

        input.ng-invalid:not(.ng-untouched) {
          border: 1px solid #f00;
        }

        ._720kb-datepicker-calendar-header {
          a {
            position: relative;
            top: 1px;
          }

          &:nth-child(odd) {
            background: hsla(33, 32%, 34%, 1);
          }

          &:nth-child(even) {
            background: hsla(33, 32%, 81%, 1);
          }
        }

        ._720kb-datepicker-calendar-days-header {
          background: rgb(234, 228, 207);
        }
      }
      white-space: nowrap;
      input[type=text] {
        color: #000;
        height: 38px;
        width: 100%;
        background-image: url('/img/icons/dates.png');
        background-repeat: no-repeat;
        background-position: calc(~'100% - 10px') 9px;
      }
    }

    &:not(.row) .people {
      margin-top: 10px;
    }

    .people {
      input.select {
        height: 38px;
        width: 100%;
        background-image: url('/img/icons/plus.png');
        background-repeat: no-repeat;
        background-position: calc(~'100% - 11px') 11px;
      }
    }
  }

  footer {
    &:not([class*=col]) {
      margin: -10px 16px 18px;
      padding-bottom: 17px;
    }

    .apply {
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 14px;
      width: 100%;
      border: none;
      background-color: #9c8939;
      padding: 10px;
      height: 43px;
      line-height: 26px;
      cursor: pointer;
    }
  }
}