@import '../sizes';
@import '../mixins';

.slider-element {

  &.big-slider {

    margin-top: 30px;

    @media screen and (max-width: @menu-max-width-1) {
      margin-top: 15px;
    }

    .arrow {
      position: absolute;
      top: 50%;
      outline: none;
      user-select: none;
      width: 28px;
      height: 198px;
      margin-top: -99px;
      border: none;
      background-color: transparent;
      background-image: url(/img/icons/arrows.png);
      background-size: 59px;
      background-repeat: no-repeat;
      z-index: 10;

      &.prev {
        left: 20px;
        background-position: -1px center
      }

      &.next {
        right: 20px;
        background-position: -29px center;
      }
    }
  }

  .caption {
    color: #000;
    height: 70px;
    background-color: #f9f1dc;
    padding: 10px 25px;
    .box-sizing(border-box);

    &.small-height {
      height: 56px;

      .swipe-buttons {
        line-height: 46px;
      }

      h3 {
        line-height: 35px;
      }
    }

    & > div {
      vertical-align: top;
    }

    h3 {
      float: left;
      line-height: 50px;
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      margin-left: 27px;
    }

    .swipe-buttons {
      float: right;
      display: inline-block;
      line-height: 50px;
      vertical-align: middle;

      button {
        border: 1px solid #000;
        background: none;
        display: inline-block;
        line-height: initial;
        padding: 5px 25px;
        font-family: "Open Sans", serif;
        font-size: 13px;
        text-transform: uppercase;
        margin-right: 5px;
      }
    }
  }

  &.mobile-only {
    ul.slides {
      li {
        margin-bottom: 20px;

        .link {
          color: #000;
          background-color: #eae4cf;
          padding: 19px 29px;
          display: block;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
        }
      }
    }
  }

  @media screen and (min-width: @desktop-width) {
    min-height: 657px;
  }

  height: inherit!important; /* @todo убрать materialize */

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  ul.slides {
    & :not(.sticky-content) {
      height: 100%;
    }

    &.sticky-content {
      position: relative;
    }

    &.sticky-content {
      li {
        height: 100%;
      }
    }
  }

  &.one-slide {
    height: 100%;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .wrapper {
    height: 100%;
    width: 5000px;
    position: relative;
    text-align: center;
    margin-left: -2500px;
    left: 50%;

    @media (max-width: (@menu-max-width + 1px)) {
      height: auto;
      width: auto;
      position: relative;
      text-align: center;
      margin-left: 0;
      left: 0;

      & + .elegant-card-element {
        margin-top: 20px;
      }
    }
  }

  li {
    img {
      height: 100%;
      width: auto!important;

      @media (max-width: (@menu-max-width - 1px)) {
        width: 100%!important;
        height: auto!important;
      }
    }

    &.previous {
      opacity: 0;
      -webkit-transition: opacity 1.5s;
    }

    &.active {
      opacity: 1;
      -webkit-transition: opacity 1.5s;
    }
  }

  .indicators {
    bottom: 62px;
    z-index: 3;
    margin-left: 49px;

    .indicator-item {
      margin: 0 5px 0 4px;
      height: 6px;
      width: 6px;

      &.active {
        background-color: #b8a761;
      }
    }
  }

  .slides li .caption {
    padding: 21px 16px 21px 11px;
    color: black;
    background-color: #fff;
    top: 48.4%;
    left: 2%;
    width: 49.5%;
    height: 40.8%;

    &.top {
      top: 5%;
    }

    &.right {
      left: auto;
      right: 2%;
      margin-right: -2px;
      margin-top: 3px;
    }
  }
}