.training-schedule-element {
	font-family: "Open Sans", sans-serif;
	.row {
		font-size: 12px;
	}

	.schedule-bottom,
	.schedule-top {
		padding: 15px;
		padding-top: 0;
		background-color: #fff;
		color: #000;
		margin-bottom: 20px;
	}

	.schedule-top {
		.navigation {
			height: 45px;
			line-height: 45px;

			.left, .right {
				a {
					color: #000;
					text-decoration: none;
					.label {
						@media screen and (max-width: @desktop-width-1) {
							display: none;
						}
					}
				}
			}

			.left {
				text-align: left;
				font-size: 14px;
			}

			.right {
				text-align: right;
				font-size: 14px;
			}

			button.arrow {
				border: none;
				background: #9c8939 no-repeat center;
				width: 26px;
				height: 26px;
				display: inline-block;
				vertical-align: middle;

				&.next {
					background-image: url('/img/controls/triangle_right.png');

				}

				&.prev {
					 background-image: url('/img/controls/triangle_left.png');

				}
			}

			.center {
				text-align: center;
				span.header {
					font-size: 18px;
					@media screen and (max-width: @desktop-width-1) {
						font-size: 14px;
						white-space: nowrap;
					}
				}
			}
		}

		.days-of-week {
			font-size: 0;
			.day {
				font-size: 14px;
				font-weight: 400;
				display: inline-block;
				width: 14.28%;
				background-color: #f9f1dc;
				border-right: 2px solid #fff;
				text-align: center;
				padding: 6px 0;

				&:last-child {
					border-right: none;
				}

				&.selected {
					background-color: #eae4cf;
					color: #b8a761;
				}

				@media screen and (max-width: @desktop-width-1) {
					cursor: pointer;
				}
			}
		}

		table.schedule {
			td:not(.hour) {
				width: 150px;
				border: 2px solid #fff;
				background-color: #f9f1dc;
				height: 60px;
				font-size: 0;
			}

			th, .hour {
				background-color: #fff;
			}

			.hour {
				width: 40px;
				text-align: right;
				padding-right: 15px;
				font-weight: bold;
				vertical-align: middle;
			}

			.day {
				height: 40px;
				font-weight: bold;
				text-align: center;
				vertical-align: middle;
			}
		}
	}

	.schedule-bottom {
		h3.title {
			font-size: 18px;
			i {
				display: inline-block;
				width: 18px;
				height: 18px;
				margin-right: 10px;
			}
			margin-bottom: 10px;
		}
		
		.card-element {
			header {
				background-color: #f9f1dc;
			}

			section.content {
				padding: 0;
			}
		}

		@media screen and (min-width: @desktop-width) {
			padding-top: 30px;
		}
	}

	.activity-type-list {
		background-color: #eae4cf;
		height: 35px;
		line-height: 35px;
		margin-bottom: 5px;

		i.trainig-activity-type {
			width: 10px;
			height: 10px;
			display: inline-block;
			margin: 0 10px;
		}
	}

	.col-1 .training-item {
		width: 100%;
	}

	.col-2 .training-item {
		width: 50%;
	}

	.no-trainings {
		display: block;
		height: 100px;
		font-size: 20px;
		text-align: center;
		line-height: 100px;
	}

	.training-item {
		font-size: 11px;
		position: relative;
		border: 1px solid #fff;
		text-align: right;
		display: inline-block;
		height: 100%;

		* {
			position: absolute;
		}

		h2.title {
			font-weight: bold;
			top: 5px;
			right: 2px;
		}

		.training-extra {
			position: absolute;
			height: 18px;
			left: 0;
			top: 0;
		}

		.trainer-link {
			position: absolute;
			text-decoration: none;
			color: #000;
			bottom: 5px;
			right: 2px;
		}

		&.large {
			display: block;
			height: 50px;

			.time {
				position: absolute;
				font-size: 11px;
				top: 5px;
				left: 20px;
			}

			.title {
				text-transform: uppercase;
				font-weight: 800;
			}

			border: none!important;
		}
	}

	.training-room-number {
		font-size: 11px;
		background-color: #d4c68e;
		left: 1px;
		bottom: 1px;
		display: inline-block;
		width: 18px;
		height: 19px;
		line-height: 19px;
		text-align: center;
	}

	i.fire, i.new {
		background-repeat: no-repeat;
		background-position: center;
		width: 18px;
		height: 30px;
		line-height: 30px;
		display: inline-block;
		vertical-align: bottom;
	}

	i.fire {
		background-image: url(/img/fitness/fire.png);
	}

	i.new {
		background-image: url(/img/fitness/new.png);
	}

	.centered-title-element {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.extended-title {
		line-height: 30px;
		.item {
			vertical-align: middle;
			i {
				margin-right: 5px;
				margin-left: 30px;
			}

			&:first-child i {
				margin-left: 0;
			}
		}

		@media screen and (min-width: @desktop-width) {
			padding-left: 60px;
			margin-top: 10px;
		}
	}
}