<div *ngIf="isReady()">
    <div class="settings training-card" *ngIf="activityType !== null">
        <h2>Настройки</h2>
        <div class="field">
            <label>Заголовок</label>
            <div class="input">
                <input [(ngModel)]="activityType.title">
            </div>
        </div>
        <div class="field">
            <label>Краткий заголовок</label>
            <div class="input">
                <input [(ngModel)]="activityType.short_title">
            </div>
        </div>
        <div class="field">
            <label>Описание</label>
            <div class="input">
                <textarea ngxTrumbowygEditor  [options]="editorOptions" [(ngModel)]="activityType.description"></textarea>
            </div>
        </div>
        <div class="field">
            <label>Цвет</label>
            <div class="input">
                <input class="color"(colorPickerChange)="setColor($event)" [colorPicker]="activityType.color" [style.background]="activityType.color" [cpOutputFormat]="hex">
            </div>
        </div>
        <div class="actions">
            <button (click)="save()" class="save ripple module-control-button-element default">Сохранить</button>
            <button (click)="deleteWithConfirm()" class="ripple module-control-button-element delete">Удалить</button>
        </div>
    </div>
    <div *ngFor="let activity of activities" [class]="'training-card activity-' + activity.id" (dblclick)="initEditingCard(activity)">
        <div [ngSwitch]="isEditing(activity) && !isCreatingNew()">
            <div *ngSwitchCase="false">
                <div class="contents">
                    <h2>{{activity.title}}</h2>
                    {{activity.description}}
                </div>
                <span class="close" (click)="removeActivity(activity)">
                    <i class="fa fa-close"></i>
                </span>
            </div>
            <div *ngSwitchCase="true">
                <div class="contents">
                    <h2><input placeholder="Заголовок вида тренировок" [focus]="autofocus" [(ngModel)]="activity.title" (blur)="leaveField('title', activity)"></h2>
                    <textarea placeholder="Описание" [(ngModel)]="activity.description" (blur)="leaveField('description', activity)"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isCreatingNew()" class="training-card">
        <div class="contents">
            <h2><input placeholder="Заголовок вида тренировок" [focus]="autofocus" [(ngModel)]="newActivity.title"></h2>
            <textarea placeholder="Описание" [(ngModel)]="newActivity.description"></textarea>
            <button (click)="createNew()">добавить</button>
        </div>
        <span class="close" (click)="closeNewActivity()">
            <i class="fa fa-close"></i>
        </span>
    </div>
    <div class="training-card" (click)="createEditingCard()">
        <div class="toolbar-element">
            <div><i class="fa fa-plus"></i></div>
        </div>
    </div>
</div>

<ng-template #confirmDelete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Вы точно хотите удалить тип тренировок?</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closePopup()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-footer">
        <div class="buttons">
            <button type="button" class="ripple module-control-button-element delete" (click)="delete()">Удалить</button>
            <button type="button" class="ripple module-control-button-element cancel" (click)="closePopup()">Отмена</button>
        </div>
    </div>
</ng-template>