.image-card {
  display: inline-block;
  width: 11.5%;
  padding-top: 11.5%;
  position: relative;
  margin: 0.5%;
}
.image-card:hover .short-description {
  height: initial;
  white-space: initial;
  line-height: 22px;
  padding: 13px;
  padding-left: 12px;
}
.image-card:before {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 0;
  left: 5px;
  content: "";
  border-radius: 6px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.4);
}
.image-card .plus {
  width: 31px;
  height: 31px;
  position: relative;
  background: url(/assets/icons/plus.svg) no-repeat;
  font-size: 0;
  margin-top: 11px;
  display: block;
}
.image-card.ticked .image-card-wrapper:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 4px solid #4a90e2;
  display: block;
}
.image-card .image-card-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
}
.image-card:before {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 0;
  left: 5px;
  content: "";
  border-radius: 6px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.4);
}
.image-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.image-card img.landscape {
  height: 100%!important;
}
.image-card img.portrait {
  width: 100%!important;
}
.image-card .new-image,
.image-card .load-more {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image-card .short-description {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0 -4px 7px rgba(0, 0, 0, 0.3);
}
@font-face {
  font-family: 'Acrom-Regular';
  src: url('/assets/fonts/Acrom-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Acrom-Regular.otf') format('opentype'), url('/assets/fonts/Acrom-Regular.woff') format('woff'), url('/assets/fonts/Acrom-Regular.ttf') format('truetype'), url('/assets/fonts/Acrom-Regular.svg#Acrom-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Acrom-Medium';
  src: url('/assets/fonts/Acrom-Medium.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Acrom-Medium.otf') format('opentype'), url('/assets/fonts/Acrom-Medium.woff') format('woff'), url('/assets/fonts/Acrom-Medium.ttf') format('truetype'), url('/assets/fonts/Acrom-Medium.svg#Acrom-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Acrom-Bold';
  src: url('/assets/fonts/Acrom-Bold/Acrom-Bold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Acrom-Bold/Acrom-Bold.otf') format('opentype'), url('/assets/fonts/Acrom-Bold/Acrom-Bold.woff') format('woff'), url('/assets/fonts/Acrom-Bold/Acrom-Bold.ttf') format('truetype'), url('/assets/fonts/Acrom-Bold/Acrom-Bold.svg#Acrom-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Acrom-Light';
  src: url('/assets/fonts/Acrom-Light/Acrom-Light.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Acrom-Light/Acrom-Light.otf') format('opentype'), url('/assets/fonts/Acrom-Light/Acrom-Light.woff') format('woff'), url('/assets/fonts/Acrom-Light/Acrom-Light.ttf') format('truetype'), url('/assets/fonts/Acrom-Light/Acrom-Light.svg#Acrom-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
.training-card {
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 10px;
  position: relative;
}
.training-card.settings h2 {
  font-family: "Acrom-Bold", sans-serif;
}
.training-card.settings .field {
  margin-bottom: 10px;
  position: relative;
}
.training-card.settings .field label {
  padding-top: 2px;
  float: left;
}
.training-card.settings .field .input {
  padding-left: 150px;
}
.training-card h2 {
  font-family: "Acrom-Light", sans-serif;
}
.training-card:not(:hover) .close {
  display: none;
}
.training-card .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
