<div class="content" *ngIf="isReady()">
  <div class="restaurant-menu-element desktop ng-scope" ng-controller="TabsController as tabs" ng-init="tabs.activeTabIndex = 1">
    <header>
      <ul class="tab-list">
        <li (click)="setActiveTabIndex(catId)" *ngFor="let catId of getCategories()" [class.active]="isActive(catId)" role="button" tabindex="0" class="active" style="">
          <h3>{{getCategoryName(catId)}}</h3>
        </li>
      </ul>
    </header>
    <section class="content">
      <div class="tab active" [class.active]="isActive(n)" *ngFor="let n of [1,2,3]">
        <div class="menu-category" *ngFor="let menuCategoryTitle of getMenuCategories(n)">
          <div class="title">{{menuCategoryTitle}}</div>
          <div class="item" *ngFor="let item of getCategoryItems(n, menuCategoryTitle)" (dblclick)="openEditItemPopup(item)">
            <div>
              <div class="description">{{item.title}}<span class="sizes">{{item.size}}</span></div><div class="price">{{item.price}}р.</div>
            </div>
          </div>
          <button (click)="openNewItemPopup(n, menuCategoryTitle)">Добавить</button>
        </div>
      </div>
    </section>
  </div>
</div>

<ng-template #newItemPopup>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Создать новый тип тренировок</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="field">
      <label>Название</label>
      <div class="input">
        <input type="text" [(ngModel)]="newItem.title">
      </div>
    </div>
    <div class="field">
      <label>Цена</label>
      <div class="input">
        <input type="text" [(ngModel)]="newItem.price">
      </div>
    </div>
    <div class="field">
      <label>Кол-во</label>
      <div class="input">
        <input type="text" [(ngModel)]="newItem.size">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="buttons">
      <button type="button" class="ripple module-control-button-element default" (click)="addItem()">Создать</button>
      <button type="button" class="ripple module-control-button-element cancel" (click)="closePopup()">Отмена</button>
    </div>
  </div>
</ng-template>

<ng-template #editItemPopup>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Создать новый тип тренировок</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="field">
      <label>Название</label>
      <div class="input">
        <input type="text" [(ngModel)]="editingItem.title">
      </div>
    </div>
    <div class="field">
      <label>Цена</label>
      <div class="input">
        <input type="text" [(ngModel)]="editingItem.price">
      </div>
    </div>
    <div class="field">
      <label>Кол-во</label>
      <div class="input">
        <input type="text" [(ngModel)]="editingItem.size">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="buttons">
      <button type="button" class="ripple module-control-button-element default" (click)="closePopup()">Применить</button>
    </div>
  </div>
</ng-template>