.restaurant-menu-element .item {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
}
.restaurant-menu-element .item > div {
  display: flex;
  flex-direction: row;
}
.restaurant-menu-element .item > div .description {
  line-height: 21px;
  flex: 0 auto;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.restaurant-menu-element .item > div .price {
  flex: 1 1;
  text-align: right;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding-right: 10px;
  line-height: 20px;
}
.restaurant-menu-element .tab-list h3 {
  font-family: 'Acrom-Light', sans-serif;
}
.restaurant-menu-element.mobile {
  margin-bottom: 18px;
  background-color: #fff;
  padding: 5px;
}
.restaurant-menu-element.mobile > section > header {
  text-align: center;
  padding: 10px;
  background-color: #f9f1dc;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  font-family: 'Acrom-Light', sans-serif;
}
.restaurant-menu-element.mobile .menu-category {
  padding-left: 10px;
}
.restaurant-menu-element.mobile .menu-category .item .description {
  font-size: 15px;
  color: #000;
}
.restaurant-menu-element.mobile .menu-category .item .price {
  font-size: 15px;
  color: #000;
  line-height: 20px;
}
.restaurant-menu-element.mobile .menu-category .title {
  text-transform: uppercase;
  font-size: 22px;
  margin: 15px 0;
  color: #000;
  font-family: 'Acrom-Regular', sans-serif;
  text-align: center;
  margin-left: -10px;
}
.restaurant-menu-element.desktop {
  background-color: #fff;
  padding: 12px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .restaurant-menu-element.desktop header li {
    height: 55px;
    line-height: 55px;
    padding: 0!important;
  }
}
.restaurant-menu-element.desktop .tab-list {
  white-space: nowrap;
  font-size: 0;
}
.restaurant-menu-element.desktop .tab-list li {
  display: inline-block;
  width: 33.3%;
  text-align: center;
  padding: 10px;
  background-color: #eae5cf;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
}
.restaurant-menu-element.desktop .tab-list li.active {
  background-color: #f9f1dc;
  color: #000;
}
.restaurant-menu-element.desktop .content .tab:not(.active) {
  display: none;
}
.restaurant-menu-element.desktop .content .tab {
  overflow: hidden;
}
.restaurant-menu-element.desktop .content .menu-category {
  width: 33.3%;
  display: inline-block;
  color: #000;
  font-size: 18px;
  padding: 20px 0;
  padding-top: 35px;
  vertical-align: top;
  float: right;
}
.restaurant-menu-element.desktop .content .menu-category .title {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 25px;
  font-family: 'Acrom-Regular', sans-serif;
  text-align: center;
}
