:host {
  position: relative;
  display: block;
}
.login-form {
  padding: 30px 50px;
  box-sizing: content-box;
  width: 400px;
  margin: 0 auto;
  background: #E0E0E0;
  box-shadow: 0 0 27px 0 rgba(142, 127, 127, 0.5);
  border-radius: 6px;
  font-family: Lora, sans-serif;
  font-size: 26px;
  color: #E0E0E0;
  text-align: center;
}
.login-form .login-logo {
  width: 95px;
  margin-bottom: 21px;
  display: inline-block;
}
.login-form .invalid-feedback {
  position: absolute;
  background: #fff;
  border: 1px solid #f00;
  width: 195px;
  right: -210px;
  top: 7px;
  padding: 0 10px;
}
.login-form input {
  height: 52px!important;
  padding-left: 18px!important;
}
.login-form .field {
  margin-bottom: 2px;
  position: relative;
}
.login-form button {
  background: #6681E1;
  box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.5);
  /* LOGIN: */
  font-family: Lora, sans-serif;
  font-size: 26px;
  color: #E0E0E0;
  text-align: center;
  padding: 5px 50px;
  border-radius: 1px;
  margin-top: 28px;
}
