/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}
body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}
/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}
nav a:visited, a:link {
    color: #607D8B;
}
nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.active {
    color: #039be5;
}

/**
бабахаем все стили прямо сюда, временно, разумеется
*/

div.menu ul {
    list-style: none;
}


body {
    margin: 0;
    padding: 0;

}

body app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header.admin-header {
    background-color: #000;
    height: 30px;
}

.admin-content-wrapper {
    overflow: hidden;
    flex: 1 0 auto;
    z-index: 1;
    display: flex;
}

.admin-content-wrapper > .menu,
.admin-content-wrapper > .content {
    overflow: hidden;
    flex-direction: row;
    height: 100%;
}

.admin-content-wrapper > .menu {
    width: 300px;
    flex: 0 1 auto;
}

.admin-content-wrapper > .content {
    flex: 1 1 auto;
}


footer.admin-footer {
    background-color: #aaa;
    height: 50px;
    flex: 0 0 auto;
    z-index: 1;
}


@import './sub-menu/sub-menu.component.css';