/* Application-wide Styles */
@import 'sub-menu/sub-menu.component.css';
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body,
input[text],
button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
nav a {
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
}
nav a:visited,
a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
.bordered-section {
  border: 1px solid #444;
  margin: 5px;
}
.toolbar-element {
  background-color: #fff;
  text-align: center;
}
.toolbar-element div {
  display: inline-block;
  border: none;
  background-color: #fff;
  padding: 5px;
}
.toolbar-element div i {
  color: #0D47A1;
  width: 31px;
  height: 31px;
  position: relative;
}
.toolbar-element div i:before {
  display: none;
}
.toolbar-element div i.fa-plus {
  background: url('assets/icons/plus.svg') no-repeat;
}
.toolbar-element div i.fa-bars {
  background: url('assets/icons/bars.svg') no-repeat 0 3px;
}
.module-list {
  background: #fff;
  flex: 0 0;
  width: 300px;
  box-sizing: content-box;
}
.module-list,
.module-editor {
  border: 1px solid #444;
  margin: 5px;
}
.module-list .trainers-list-element,
.module-list .toolbar-element {
  display: block;
}
.module-editor {
  flex: 1 0 auto;
  background: #fff;
}
.module-editor.module-editor-visible:not(.visible) {
  display: none;
}
.module-editor.module-editor-full {
  margin-left: 201px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  display: none;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}
.switch input:checked + .slider {
  background-color: #97a0a7;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #97a0a7;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/**
бабахаем все стили прямо сюда, временно, разумеется
*/
div.menu ul {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
}
body app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header.admin-header {
  background-color: #000;
  height: 50px;
}
.admin-content-wrapper {
  background-color: #dcdcdc;
  overflow: hidden;
  flex: 1 0 auto;
  z-index: 1;
  display: flex;
}
.admin-content-wrapper .wrapper {
  width: 100%;
}
.admin-content-wrapper .wrapper .menu {
  height: 100%;
  background-color: #eee;
  width: 200px;
  float: left;
}
.navbar-selector-item {
  border-bottom: 1px solid #444;
  padding: 10px 20px;
  text-align: left;
}
.navbar-selector-item:first-of-type {
  border-top: 1px solid #444;
}
.navbar-selector-item.active {
  position: relative;
  background-color: #c5c5c5;
}
.navbar-selector-item.active:after {
  top: 50%;
  right: 0;
  margin-right: calc(-10px/2);
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
  margin-top: calc(-10px/2);
}
.menu-selector-item a {
  padding: 10px 20px;
  background-color: #d6d6d6;
}
.large-popup {
  width: 80%;
  max-width: none;
}
