<div [ngSwitch]="params[key].type">
  <div *ngSwitchCase="'composite'">
    <h3>{{params[key].title}}</h3>
    <div class="instances">
      <div *ngFor="let section of values[key]; let i = index;" class="instance-item">
        <div class="instance-toolbar">
          <span class="close" (click)="deleteInstanceWithConfirm(key, i)"><i class="fa fa-close"></i></span>
        </div>
        <page-editor
                [level]="level + 1"
                [generalName]="getSectionGeneralName(section)"
                [itemTitle]="getSectionTitle(section)"
                [uniqKey]="uniqKey + '_' + key"
                [params]="params[key]['availableInstances'][section.type]"
                [values]="section">
        </page-editor>
      </div>
      <div class="toolbar toolbar-element">
        <div class="empty-wrapper" [ngSwitch]="(params[key]['availableInstances'] | values).length === 1">
          <div *ngSwitchCase="true" dropdownToggle aria-controls="dropdown-basic" #item (click)="appendInstance(key)">
            <i class="fa fa-plus"></i>
          </div>
          <div *ngSwitchCase="false" class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="true">
            <div dropdownToggle aria-controls="dropdown-basic">
              <i class="fa fa-plus"></i>
            </div>
            <ul *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-triggers-manual">
              <li *ngFor="let instanceType in params[key]['availableInstances']" role="menuitem">
                <a class="dropdown-item" (click)="appendInstance(key, instanceType)">
                  {{params[key]['instancesLabels'][instanceType]}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="values[key].length > 1"(click)="reorder()">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchDefault>
    <app-page-editor-field [title]="params[key].title" [params]="params[key]" [valueSet]="values" [valueKey]="key"></app-page-editor-field>
  </div>
</div>